<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- 每次都必须定义的开头 -->
    <section name ="unity" type ="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <!-- 使用unity的xsd -->
  <!--<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">-->
  <unity>
    <!-- 声明一种是用类型 -->
    <typeAliases>
      <typeAlias alias="ICpu" type ="DM.Common.ZTest.ICpu, DM.Common.ZTest"/>
      <typeAlias alias="IntelCpu" type="DM.Common.ZTest.IntelCpu, DM.Common.ZTest"/>
      <typeAlias alias="IComputer" type="DM.Common.ZTest.IComputer, DM.Common.ZTest"/>
      <typeAlias alias="Computer" type="DM.Common.ZTest.Computer, DM.Common.ZTest"/>
    </typeAliases>
    <containers>
      <container>
        <register type="ICpu" mapTo="IntelCpu" name="intel"/>
        <register type="IComputer" mapTo="Computer">
          <constructor>
            <param name="cpu">
              <dependency name="intel"/>
            </param>
          </constructor>
        </register>
      </container>
    </containers>
  </unity>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="TestCommandServerPort" value="7007"/>
  </appSettings>
</configuration>
