<?xml version="1.0"?>
<ArrayOfServiceUrl xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <ServiceUrl>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>9a581e2c-cd67-4331-9172-6f7ca26f8b4e</ID>
    <FilePath>C:\Sobey\MAMSpace\ColorAnalyzer\AI3.Server.ColorAnalyzer.exe</FilePath>
    <Port>9514</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>723ab787-a2be-4688-be0b-9b3e9886b2ea</ID>
    <FilePath>C:\Sobey\MAMSpace\DocumentServer\AI3.Server.DocumentService.Executor.exe</FilePath>
    <Port>9517</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>207c97ad-5ad9-4d59-b440-7187aff20da4</ID>
    <FilePath>C:\Sobey\MAMSpace\FormatRecognizer\AI3.Server.ExtractionServer.FileProcessConsole.exe</FilePath>
    <Port>9502</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>a50a57ce-dbc7-4352-b71d-6d864106a536</ID>
    <FilePath>C:\Sobey\MAMSpace\KeyframeExtractor\AI3.Server.ExtractionServer.FileProcessConsole.exe</FilePath>
    <Port>9501</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>1d220117-6635-4be0-aaa0-0aa969d1ed2c</ID>
    <FilePath>C:\Sobey\MAMSpace\ImageRecognizer\AI3.Server.ExtractionServer.FileProcessConsole.exe</FilePath>
    <Port>9520</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>0ce138b4-af62-4a37-8fcd-0695742d5fba</ID>
    <FilePath>C:\Sobey\MAMSpace\HotfolderGW\AI3.Server.FCPHotFolder.exe</FilePath>
    <Port>9507</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>c249ac53-6575-46bc-9c3e-a086b3fec67b</ID>
    <FilePath>C:\Sobey\MAMSpace\FileDeleteServer\FileDeletePerformer.exe</FilePath>
    <Port>9503</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
  <ServiceUrl>
    <ID>e168dfca-015a-4eb7-bf66-24d4feda274a</ID>
    <FilePath>C:\Sobey\MAMSpace\UDTTransferSrv\TransferSvc.exe</FilePath>
    <Port>9513</Port>
    <Path>Service</Path>
    <StartIndex>0</StartIndex>
  </ServiceUrl>
</ArrayOfServiceUrl>