<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--系统服务地址配置文件路径-->
    <add key="GloabalConfigPath" value="C:\DM\Configuration.xml" />
    <!--全局服务路径-->
    <add key="GlobalServer" value="http://{GlobalServer}:9999" />
    
    <!--日志级别-->
    <add key="LogType" value="Fatal" />
    
    <!--carrier 是否自启应用-->
    <add key="AutoStart" value="1" />

    <!--carrier 程序最大内存上限，单位M，抵达则重启，0是无上限-->
    <add key="MaxMemory" value="0" />

    <!--carrier 扫描进程的频率，单位毫秒，小于1000则自动取1秒-->
    <add key="Interval" value="5000" />
  </appSettings>
</configuration>